body {
  background-color: rgb(37,40,42);
}
.wrapper {
  max-width: 700px;
  height: 400px;
  display: grid;
  row-gap: 20px;
  grid-template-areas:
    "img img img img"
    "description description description controls";
  overflow:hidden;
  margin: 0 auto;
  padding: 10px 20px;
  border: 5px solid black;
  border-radius: 5px;
}
.img__wrapper {
  grid-area: img;
  width: 100%;
  overflow: hidden;
  border-radius: 5px;
}
.meme-img__container {
  display: flex;
  justify-content: center;
  height: 100%;
}
.meme-img {
  width: auto;
  height: auto;
  object-fit: cover;
  animation: hi 3s ease;
}
.meme-description__container {
  grid-area: description;
}
.meme-description {
  color: white;
  font-size: 1rem;
  animation: hi 3s ease;
}
.meme-controls__container {
  text-align: right;
  grid-area: controls;
  display: flex;
  justify-content: flex-end;
  align-items: center;
}
@keyframes hi {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
.btn {
  display: none;
}
.meme-control {
  cursor: pointer;
  padding: 3px;
}
.meme__radio-span {
  display: block;
  border-radius: 50%;
  border: 1px solid rgb(121,169,239);
  box-sizing: border-box;
  width: 0.5rem;
  height: 0.5rem;
  background-color: rgb(121,169,239);
  cursor: pointer;
}
.meme-control:hover > .meme__radio-span {
  border: 1px solid white;
  background: white;
}
/* Изменения элементов в блоке controls */
#btn-1:checked ~ .meme-controls__container .meme-control:nth-of-type(1) .meme__radio-span {
  background: black;
}
#btn-2:checked ~ .meme-controls__container .meme-control:nth-of-type(2) .meme__radio-span {
  background: black;
}
#btn-3:checked ~ .meme-controls__container .meme-control:nth-of-type(3) .meme__radio-span {
  background: black;
}
#btn-4:checked ~ .meme-controls__container .meme-control:nth-of-type(4) .meme__radio-span {
  background: black;
}
/* Изменения в блоке-контейнере изображений */
#btn-1:checked ~ .img__wrapper .meme-img__container .meme-img-2,.meme-img-3,.meme-img-4 {
  display: none;
}
#btn-1:checked ~ .img__wrapper .meme-img__container .meme-img-1 {
  display: block;
}
#btn-2:checked ~ .img__wrapper .meme-img__container .meme-img-1,.meme-img-3,.meme-img-4 {
  display: none;
}
#btn-2:checked ~ .img__wrapper .meme-img__container .meme-img-2 {
  display: block;
}
#btn-3:checked ~ .img__wrapper .meme-img__container .meme-img-1,.meme-img-2,.meme-img-4 {
  display: none;
}
#btn-3:checked ~ .img__wrapper .meme-img__container .meme-img-3 {
  display: block;
}
#btn-4:checked ~ .img__wrapper .meme-img__container .meme-img-1,.meme-img-2,.meme-img-3 {
  display: none;
}
#btn-4:checked ~ .img__wrapper .meme-img__container .meme-img-4 {
  display: block;
}
/* Изменения в блоке с описанием мема */
#btn-1:checked ~ .meme-description__container > .meme-description:nth-of-type(2),.meme-description:nth-of-type(3),.meme-description:nth-of-type(4) {
  display: none;
}
#btn-2:checked ~ .meme-description__container > .meme-description:nth-of-type(1),.meme-description:nth-of-type(3),.meme-description:nth-of-type(4) {
  display: none;
}
#btn-2:checked ~ .meme-description__container > .meme-description:nth-of-type(2) {
  display: block;
}
#btn-3:checked ~ .meme-description__container > .meme-description:nth-of-type(1),.meme-description:nth-of-type(2),.meme-description:nth-of-type(4) {
  display: none;
}
#btn-3:checked ~ .meme-description__container > .meme-description:nth-of-type(3) {
  display: block;
}
#btn-4:checked ~ .meme-description__container > .meme-description:nth-of-type(1),.meme-description:nth-of-type(2),.meme-description:nth-of-type(3) {
  display: none;
}
#btn-4:checked ~ .meme-description__container > .meme-description:nth-of-type(4) {
  display: block;
}